.task-card:hover {
  background-color: whitesmoke !important;
}

.candidate {
  padding: 0 5px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  &.selected {
    background-color: lightgray !important;
  }
}

.candidate:hover {
  background-color: whitesmoke;
}

.gantt-rowheader-name:hover {
  transition: 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
}
