html,
body {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
//background-color: #e5e6e6;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}
